{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% for listing in listings %}
        <hr>
        <h4>{{listing.title}}</h4>
        <b>Listing Number:</b> {{listing.id}}
        <b>Posted by:</b> {{listing.lister}}
        <br>
        {% if listing.image_url == "" %}
            No Images.
        {% else %}
            <img src={{listing.image_url}} alt="Image could not be loaded." width="100">
        {% endif %}
        <br>
        {{listing.description}}
        <br>
        <b>Current Price:</b> ${{listing.current_price}}
        <br>
        <a href="{% url 'listing' listing.id %}">
            <button type="button" class="btn btn-primary">View Listing</button>
        </a>
    {% empty %}
    No listings
    {% endfor %}
{% endblock %}
